@using Jellyfin.HardwareVisualizer.Shared
@using Jellyfin.HardwareVisualizer.Shared.Models
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Jellyfin.HardwareVisualizer</a>
		@* <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button> *@
	</div>
</div>

<div class="nav-scrollable">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Survey Results
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="https://github.com/joshuaboniface/hwatest" target="__blank" Match="NavLinkMatch.All">
				<span class="oi oi-cloud-download" aria-hidden="true"></span> Survey Tool
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/swagger" target="__blank" Match="NavLinkMatch.All">
				<span class="oi oi-list" aria-hidden="true"></span> Swagger
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/Admin/Dashboard" target="__blank" Match="NavLinkMatch.All">
				<span class="oi oi-list" aria-hidden="true"></span> Admin
			</NavLink>
		</div>

		<div>
			<div class="list-group">
				@foreach (var selected in DataSelectorService.SelectedDevices)
				{
					<div class="list-group-item">
						@selected.Name
						<button @onclick="() => RemoveDevice(selected.Id)"
						        class="form-control">
							X
						</button>
					</div>
				}
			</div>

			<select @bind:after="@AddDevice" class="form-control" @bind="SelectedDevice">
				<option value="@Guid.Empty">Please select an Render Device.</option>
				@if (!DataSelectorService.SelectedDevices.Any() || DataSelectorService.SelectedDevices.All(e => e.DeviceType == DeviceType.Cpu))
				{
					<optgroup label="Cpus">
						@foreach (var cpu in DataSelectorService.AllDevices
							.Where(e => DataSelectorService.SelectedDevices.All(f => f.Id != e.Id))
							.Where(e => e.DeviceType == DeviceType.Cpu))
						{
							<option value="@cpu.Id">@cpu.Name</option>
						}
					</optgroup>
				}
				@if (!DataSelectorService.SelectedDevices.Any() || DataSelectorService.SelectedDevices.All(e => e.DeviceType == DeviceType.Gpu))
				{
					<optgroup label="Gpus">
						@foreach (var gpu in DataSelectorService.AllDevices
											.Where(e => DataSelectorService.SelectedDevices.All(f => f.Id != e.Id))
											.Where(e => e.DeviceType == DeviceType.Gpu))
						{
							<option value="@gpu.Id">@gpu.Name</option>
						}
					</optgroup>
				}
			</select>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
